/** @format */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 84rem;
  margin: 0 auto;
}

:root {
  --color: rgb(101, 101, 210);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2.5rem;
}
.navbar-container .list {
  list-style-type: none;
}
li {
  display: inline;
  margin: 15px;
  position: relative;
  top: 0.7rem;
  color: grey;
}
.list li:hover {
  color: var(--color);
}
.navbar-container div:nth-child(1) {
  flex: 0.5;
}
.navbar-container .grow-list {
  flex: 2;
}

.heading-text {
  font-size: 4.3rem;
  font-weight: bolder;
  font-family: "Fira Sans", sans-serif;
}
button {
  padding: 10px 30px;
  margin: 4px 6px;
  background: var(--color);
  border-radius: 15px;
  color: #fff;
  font-weight: 600;
  font-family: inherit;
}

.nav-btn {
  padding: 10px 30px;
  margin: 4px 6px;
  background: var(--color);
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
}

.nav_btn {
  padding-top: 7%;
}

span {
  color: var(--color);
}

.banner-container {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-top: 2%;
}
.description {
  color: grey;
  padding-top: 6%;
  font-size: 1.3rem;
}
.grow-list {
  position: relative;
  top: 3px;
  font-size: 1.5rem;
}
.banner-container div:nth-child(2) img {
  position: absolute;
  right: 0;
  top: 140px;
  z-index: -1;
}
